Author: chpwn <support@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: Infinifolders
Package: com.chpwn.infinifolders
Section: Tweaks
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, preferenceloader (>= 1.1), com.chpwn.iconsupport
Version: 2.1.1
Architecture: iphoneos-arm
Description: Scroll your folders: break the icon barrier!
Depiction: http://chpwn.com/cydia/infinifolders.html
Homepage: http://chpwn.com/cydia/infinifolders.html
Icon: file:///Library/PreferenceLoader/Preferences/Infinifolders.png
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: cydia::commercial, purpose::extension
dev: chpwn
