Author: chpwn <support@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: Infiniboard
Package: com.chpwn.infiniboard
Section: Tweaks
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, preferenceloader (>= 1.1), com.chpwn.iconsupport (>= 1.6)
Version: 2.0.2
Architecture: iphoneos-arm
Description: Vertically scroll your home screen pages!
Depiction: http://chpwn.com/cydia/infiniboard.html
Homepage: http://chpwn.com/cydia/infiniboard.html
Sponsor: thebigboss.org <http://thebigboss.org>
Icon: file:///Library/PreferenceLoader/Preferences/Infiniboard.png
Tag: cydia::commercial
dev: chpwn
